<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <!-- <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span> -->
          <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a recent First-Class Honours graduate in Electronic & Computer Engineering from the University of 
          Limerick, now embarking on an exciting PhD journey with the Centre for Robotics & Intelligent Systems 
          (CRIS) at UL. My research will focus on Autonomous Surface Vehicles (ASV) and Integrated Approaches for 
          Reef Habitat Assessment and Environmental DNA Sampling.</p>
      </div>
      <div class="col-lg-4">
        <p>With hands-on experience from internships at Analog Devices, Fiserv, and ACI Worldwide—paired with a 
          strong academic record in Electronic & Computer Engineering—I bring a well-rounded skill set spanning 
          hardware, software, and data-driven solutions. </p>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</header>
