<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>About</h2>
              <hr class="star-light">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <p>Luke is a recent First-Class Honours graduate in Electronic & Computer Engineering from the
                University of Limerick and is now embarking on an exciting PhD journey with the Centre for Robotics &
                Intelligent Systems (<a href="https://cris.ie/" style="color:#003d82;">CRIS</a>) at UL. His research focuses on Autonomous Surface Vehicles (ASV) and
                Integrated Approaches for Reef Habitat Classification (Machine Vision) and Environmental DNA Sampling (Control Theory).</p>
            </div>
            <div class="col-lg-4">
              <p>With hands-on experience from internships at Analog Devices, Fiserv, and ACI Worldwide—paired with a
                strong academic record in Electronic & Computer Engineering—he brings a well-rounded skill set spanning
                hardware, software, and data-driven solutions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>