<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.linkedin.com/in/luke-griffin-344854279/">{{ site.title }}</a>
      <img src="img/portfolio/cris_logo.png" alt="CRIS Logo" style="height:32px; vertical-align:middle; margin-left:10px; position:relative; top:12px;">
      <!-- <img src="img/portfolio/ece.png" alt="CRIS Logo" style="height:32px; vertical-align:middle; margin-left:10px; position:relative; top:12px;"> -->
      <img src="img/portfolio/ul.png" alt="CRIS Logo" style="height:32px; vertical-align:middle; margin-left:10px; position:relative; top:12px;">
    </div>
  </div>
</nav>